<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.dvoraklatin</string>
	<key>CFBundleName</key>
	<string>DvorakLatinWithAcentos</string>
	<key>CFBundleVersion</key>
	<string>1.01</string>
	<key>KLInfo_Dvorak Latinoamericano</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.dvoraklatin.dvoraklatinoamericano</string>
		<key>TISIntendedLanguage</key>
		<string>es</string>
	</dict>
</dict>
</plist>
